.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  gap: 28px;
  padding: 31px 28px 29px 32px;
  width: 1200px;
}
